@page "/list-product"
@layout AdminLayout
@using Clinic.Data.Models
@using Clinic.BlazorWebPWA.Extensions
@inject IProductService productService

<PageTitle>List of Health Packages</PageTitle>

<link href="css/admin.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">

                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Packages List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" value="@productName" @onchange="HandleChange" class="form-control" placeholder="Search here">
                                            </div>
                                            <div class="add-group">
                                                <RadzenButton Click=@(args => AddProduct()) Style="margin-left: 20px" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt></a>
                                    <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt></a>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Specialization</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>IsMainCombo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (GetListProducts is not null)
                                    {
                                        @foreach (var item in GetListProducts)
                                        {
                                            <tr>
                                                <td class="profile-image"><a href=@($"upsert-product/{item.Id}")>@item.Name</a></td>
                                                <td>@item.Specialization.ConvertSpecEnum()</td>
                                                <td>@item.Price</td>
                                                <td class="description-cell"><div class="ellipsis">@item.Description</div></td>
                                                <td>@item.IsMainCombo</td>
                                                <RadzenMenu>
                                                    <RadzenMenuItem Text="More">
                                                        <RadzenMenuItem Click="@(_ => nav.NavigateTo($"upsert-product/{@item.Id}", true))" Text="Edit"></RadzenMenuItem>
                                                        <RadzenMenuItem Click="@(args => ConfirmDelete(@item.Id))" @onclick:stopPropagation="true" Text="Delete"></RadzenMenuItem>
                                                    </RadzenMenuItem>
                                                </RadzenMenu>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private List<Product> GetListProducts = new();
    string productName = string.Empty;
    protected override async Task OnInitializedAsync()
    {

        var response = await productService.GetListProducts<ResponseDto>(string.Empty);
        if (response != null && response.IsSuccess)
        {
            GetListProducts = JsonConvert.DeserializeObject<List<Product>>(Convert.ToString((response.Result)));
            StateHasChanged();
        }
    }

    public async Task ConfirmDelete(string id)
    {
        var confirmationResult = await this.DialogService.Confirm("Are you sure?", "Delete Box", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
        if (confirmationResult == true)
        {
            var responseDelete = await productService.DeleteProduct<ResponseDto>(id);
            if (responseDelete != null && responseDelete.IsSuccess)
            {
                GetListProducts = null;
                StateHasChanged();
                var response = await productService.GetListProducts<ResponseDto>(string.Empty);
                if (response != null && response.IsSuccess)
                {
                    GetListProducts = JsonConvert.DeserializeObject<List<Product>>(Convert.ToString((response.Result)));
                    StateHasChanged();
                }
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Delete Successfully" });
            }
        }
    }
    private async Task HandleChange(ChangeEventArgs e)
    {
        productName = e?.Value?.ToString();
        GetListProducts = null;
        var response = await productService.GetListProducts<ResponseDto>(string.Empty);
        if (response != null && response.IsSuccess)
        {
            GetListProducts = JsonConvert.DeserializeObject<List<Product>>(Convert.ToString((response.Result)));
            GetListProducts = GetListProducts.Where(x => x.Name.ContainsCaseInsensitive(productName)).ToList();
            StateHasChanged();
        }
    }
    void AddProduct()
    {
        nav.NavigateTo("/upsert-product", true);
    }
}

<style>

    td.description-cell {
        max-width: 20em;
    }

    div.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>