@page "/list-news"
@layout AdminLayout
@using Clinic.Data.Models
@using Clinic.BlazorWebPWA.Extensions
@inject IBlogService blogService
<PageTitle>List of Medical News</PageTitle>

<link href="css/admin.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="list-news">News</a></li>
                        <li class="breadcrumb-item"><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="breadcrumb-item active">List of Medical News</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">

                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Medical News List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" value="@blogName" @onchange="HandleChange" class="form-control" placeholder="Search here">
                                            </div>
                                            <div class="add-group">
                                                <RadzenButton Click=@(_ => nav.NavigateTo($"upsert-news", true)) Style="margin-left: 20px" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Summary</th>
                                        <th>Description</th>
                                        <th>Created Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(GetListBlogs is not null)
                                    {
                                        @foreach(var item in GetListBlogs)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td class="description-cell"><div class="ellipsis">@item.Summary</div></td>
                                                <td class="description-cell"><div class="ellipsis">@item.Description</div></td>
                                                <td>@item.CreatedDate</td>
                                                <td>
                                                    <RadzenMenu>
                                                        <RadzenMenuItem Text="More">
                                                            <RadzenMenuItem Click="@(_ => nav.NavigateTo($"upsert-news/{@item.Id}", true))" Text="Edit"></RadzenMenuItem>
                                                            <RadzenMenuItem Click="@(args => ConfirmDelete(@item.Id))" @onclick:stopPropagation="true" Text="Delete"></RadzenMenuItem>
                                                        </RadzenMenuItem>
                                                    </RadzenMenu>
                                                </td>
                                            </tr>
                                        }
                                                                   }                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Blog> GetListBlogs = new();
    string blogName = string.Empty;
    protected override async Task OnInitializedAsync()
    {

        var response = await blogService.GetListBlogs<ResponseDto>(string.Empty);
        if (response != null && response.IsSuccess)
        {
            GetListBlogs = JsonConvert.DeserializeObject<List<Blog>>(Convert.ToString((response.Result)));
            GetListBlogs = GetListBlogs.OrderByDescending(x => x.CreatedDate).Take(9).ToList();
            StateHasChanged();
        }
    }
    public async Task ConfirmDelete(string id)
    {
        var confirmationResult = await this.DialogService.Confirm("Are you sure?", "Delete Box", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
        if (confirmationResult == true)
        {
            var responseDelete = await blogService.DeleteBlog<ResponseDto>(id);
            if (responseDelete != null && responseDelete.IsSuccess)
            {
                GetListBlogs = null;
                StateHasChanged();
                var response = await blogService.GetListBlogs<ResponseDto>(string.Empty);
                if (response != null && response.IsSuccess)
                {
                    GetListBlogs = JsonConvert.DeserializeObject<List<Blog>>(Convert.ToString((response.Result)));
                    StateHasChanged();
                }
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Delete Successfully" });
            }
        }
    }
    private async Task HandleChange(ChangeEventArgs e)
    {
        blogName = e?.Value?.ToString();
        GetListBlogs = null;
        var response = await blogService.GetListBlogs<ResponseDto>(string.Empty);
        if (response != null && response.IsSuccess)
        {
            GetListBlogs = JsonConvert.DeserializeObject<List<Blog>>(Convert.ToString((response.Result)));
            GetListBlogs = GetListBlogs.Where(x => x.Title.ContainsCaseInsensitive(blogName)).ToList();
            StateHasChanged();
        }
        
    }
}
<style>

    td.description-cell {
        max-width: 20em;
    }

    div.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>