@page "/view-cart/{role}/{id}"
@using Clinic.DTO.Models.Dto
@using Clinic.BlazorWebPWA.Extensions
@using InvoiceSamurai.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Net.payOS
@using Net.payOS.Types
@using QuestPDF.Fluent
@inject IClinicService clinicService
@inject IBookingService bookingService
@inject NavigationManager nav
@inject PayOS _payOS
@inject DialogService DialogService

<PageTitle>View Appointment</PageTitle>

<head>
    <link rel="stylesheet" href="css/user.css" />
</head>

<body style="background: none !important">
    <main class="flex-shrink-0">
        <div class="container px-5">
            <div class="user-wrapper">
                <div>
                    <div class="row usr-hdr">
                        <SideBarProfile />
                        <div class="col-md-9 col-lg-9 p-0">
                            <h1 class="user-ttl">Appointments</h1>
                            <div class="user-container">
                                <div class="user-body py-3">
                                    <!-- Start My Appointment Section -->
                                    @if (list == null)
                                    {
                                        <h3>Loading</h3>
                                    }
                                    else
                                    {
                                        @foreach (var item in list)
                                        {
                                            <div class="user-card">
                                                <div class="card-hdr">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-6">
                                                            <a href="" class="title">Booking Id: @item.Id</a>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <span class="label label-warning">Cart</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4">
                                                            <div class="user-info tbl-cell">
                                                                <span>Doctor Info</span>
                                                                <h4 class="name">@item.DoctorName</h4>
                                                                <p class="text">@item.Specialization.ConvertSpecEnum()</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="info">
                                                                <span>Clinic Number</span>
                                                                <p>@item.ClinicNum</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="info">
                                                                <span>Date & Time</span>
                                                                <p>@item.OrderPlacedDate.GetDateTime()</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-ftr">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-6">
                                                            <span class="font-12 text-dark">Price: @item.OrderTotal.ToString("C") vnd</span>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <button @onclick="@(_ =>Detail(item.Id))" class="btn btn-primary btn-outline btn-outline-1x btn-sm">Detail</button>
                                                            <button @onclick="@(_ => Pay(item.Id))" class="btn btn-primary btn-outline btn-outline-1x btn-sm">Checkout</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

@code {
    [Parameter] public string id { get; set; }
    [Parameter] public string role { get; set; }
    [Inject]
    IAccessTokenProvider TokenProvider { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string accessToken { get; set; }
    List<BookingDetailsViewModel> list = new();
    [Inject] IJSRuntime JSRuntime { get; set; }
    protected InvoiceModel InvoiceModel { get; set; } = new();
    protected CustomerModel CustomModel { get; set; } = new();
    protected GeneratePdfCommand pdfCommand = new();
    string name = string.Empty;
    bool check = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        name = user.Identity.Name;
        if (!user.Identity.IsAuthenticated)
        {
            nav.NavigateTo("authentication/login");
        }
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        accessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            accessToken = token.Value;
        }
        long timeNow = DateTime.Now.Ticks;
        @if (role.Equals("patient"))
        {
            var response = await bookingService.GetListBookings<ResponseDto>($" e.UserId = '{id}' and e.OrderStatus= '{OrderStatus.Cart}' ");
            if (response != null && response.IsSuccess)
            {
                list = JsonConvert.DeserializeObject<List<BookingDetailsViewModel>>(Convert.ToString((response.Result)));
                list = list.OrderByDescending(x => x.OrderPlacedDate).ToList();
                StateHasChanged();
            }  
        }
    }

    private async Task Pay(string id)
    {
        var checkItem = list.FirstOrDefault(x => x.Id == id);
        if (checkItem.OrderPlacedDate < DateTime.Now.Ticks)
        {
            check = true;
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Your booking time was passed. Please choose new schedule time"});
            await DialogService.OpenAsync<ChooseSchedule>($"Choose new schedule",
                new Dictionary<string, object>() { { "Booking", checkItem } },
                new DialogOptions() { Width = "700px", Height = "", Resizable = true, Draggable = true });
        }
        var response = await clinicService.GetScheduleAsync<ResponseDto>(checkItem.DoctorId);
        if (response != null && response.IsSuccess)
        {
            var result = JsonConvert.DeserializeObject<List<long>>(Convert.ToString((response.Result)));
            if (result.Any(x => x == checkItem.OrderPlacedDate))
            {
                check = true;
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Your booking time was booked by another one. Please choose new schedule time"});
                await DialogService.OpenAsync<ChooseSchedule>($"Choose new schedule",
                    new Dictionary<string, object>() { { "Booking", checkItem } },
                    new DialogOptions() { Width = "700px", Height = "", Resizable = true, Draggable = true });
            }
        }

        if (!check)
        {
            var confirmationResult = await this.DialogService.Confirm("Your booking is available now. Do you want to check out?", "Notification Box", new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" });
            if (confirmationResult == true)
            {
                int orderCode = int.Parse(DateTimeOffset.Now.ToString("ffffff"));

                List<ItemData> items = new List<ItemData>();
                foreach (var product in checkItem.Products)
                {
                    ItemData item = new ItemData(product.Name, 1, product.Price);
                    items.Add(item);
                }

                PaymentData paymentData = new PaymentData(orderCode, (int)checkItem.OrderTotal, "Thanh toan don hang", items, "https://localhost:7072/payment/failed", $"https://localhost:7072/payment/success/{checkItem.Id}");

                CreatePaymentResult createPayment = await _payOS.createPaymentLink(paymentData);

                nav.NavigateTo(createPayment.checkoutUrl);
            }
        }
    }
    private async Task Detail(string id)
    {
        var item = list.FirstOrDefault(x => x.Id == id);
        if (item != null)
        {
            var parameters = new Dictionary<string, object> { { "Booking", item } };
            var dialogResult = await DialogService.OpenAsync<CartDetailUser>("Cart Detail", parameters, new Radzen.DialogOptions { Width = "650px", Height = "500px" });
            // Xử lý kết quả từ dialog nếu cần
        }
    }
}

