@page "/view-appointment/{role}/{id}"
@using Clinic.DTO.Models.Dto
@using Clinic.BlazorWebPWA.Extensions
@using InvoiceSamurai.Client.Documents
@using InvoiceSamurai.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using QuestPDF.Fluent
@inject IClinicService clinicService
@inject IBookingService bookingService
@inject NavigationManager nav
@inject DialogService DialogService

<PageTitle>View Appointment</PageTitle>

<head>
    <link rel="stylesheet" href="css/user.css" />
</head>

<body style="background: none !important">
    <main class="flex-shrink-0">
        <div class="container px-5">
            <div class="user-wrapper">
                <div>
                    <div class="row usr-hdr">
                      <SideBarProfile/>
                        <div class="col-md-9 col-lg-10 p-0">
                            <h1 class="user-ttl">Appointments</h1>
                            <div class="user-container">
                                <div class="user-body">
                                    <!-- Start My Appointment Section -->
                                    @if(list == null)
                                    {
                                        <h3>Loading</h3>
                                    }
                                    else
                                    {
                                        @foreach (var item in list)
                                        {
                                            <div class="user-card">
                                                <div class="card-hdr">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-6">
                                                            <a href="" class="title">Booking Id: @item.Id</a>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <span class="label label-warning">@item.OrderStatus</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4">
                                                            <div class="user-info tbl-cell">
                                                                <span>Doctor Info</span>
                                                                <h4 class="name">@item.DoctorName</h4>
                                                                <p class="text">@item.Specialization.ConvertSpecEnum()</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="info">
                                                                <span>Clinic Number</span>
                                                                <p>@item.ClinicNum</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="info">
                                                                <span>Date & Time</span>
                                                                <p>@item.OrderPlacedDate.GetDateTime()</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-ftr">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-6">
                                                            <span class="font-12 text-dark">Price: @item.OrderTotal.ToString("C") vnd</span>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <button @onclick="@(_ =>FeedBack(item.DoctorId))" class="btn btn-primary btn-outline btn-outline-1x btn-sm">FeedBack</button>
                                                            <button @onclick="@(_ =>Export(item.InvoiceId))" class="btn btn-primary btn-outline btn-outline-1x btn-sm">Export</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

@code {
    [Parameter] public string id { get; set; }
    [Parameter] public string role { get; set; }
    [Inject]
    IAccessTokenProvider TokenProvider { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string accessToken { get; set; }
    List<BookingDetailsViewModel> list = new();
    [Inject] IJSRuntime JSRuntime { get; set; }
    protected InvoiceModel InvoiceModel { get; set; } = new();
    protected CustomerModel CustomModel { get; set; } = new();
    protected GeneratePdfCommand pdfCommand = new();
    string name = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        name = user.Identity.Name;
        if (!user.Identity.IsAuthenticated)
        {
            nav.NavigateTo("authentication/login");
        }
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        accessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            accessToken = token.Value;
        }
        var response = await bookingService.GetListBookings<ResponseDto>($" e.UserId = '{id}' and e.OrderStatus= '{OrderStatus.Submitted}'");
        if (response != null && response.IsSuccess)
        {
            list = JsonConvert.DeserializeObject<List<BookingDetailsViewModel>>(Convert.ToString((response.Result)));
            list = list.OrderByDescending(x => x.OrderPlacedDate).ToList();
            StateHasChanged();
        }
    }

    private async Task Export(string id)
    {
        var response = await clinicService.GetInvoice<ResponseDto>(id, accessToken);
        if (response != null && response.IsSuccess)
        {
            var result = JsonConvert.DeserializeObject<InvoiceDetailsViewModel>(Convert.ToString((response.Result)));
            InvoiceModel.Coupon = result.Coupon;
            InvoiceModel.Itens = result.Products;
            CustomModel.Dob = result.BriefViewModel.DateOfBirth;
            CustomModel.Name = result.BriefViewModel.UserName;
            InvoiceModel.Number = result.Id;
            pdfCommand = pdfCommand with
            {
                Invoice = InvoiceModel,
                Customer = CustomModel
            };
            var document = new InvoiceDocument(pdfCommand);
            JSRuntime?.InvokeVoidAsync("Print", Convert.ToBase64String(document.GeneratePdf()));
        }
    }
    private async Task FeedBack(string id)
    {
        await DialogService.OpenAsync<Feedback_form>($"Feedback Form",
            new Dictionary<string, object>() { { "id", id },{"name", name }},
            new DialogOptions() { Width = "700px", Height = "", Resizable = true, Draggable = true });
        }
    }
}
